.vscode/
Ideas for IndieWeb.txt

blog/*
!blog/.eleventy.js
!blog/package.json
!blog/package-lock.json
!blog/src/
photos/*
!photos/.eleventy.js
!photos/package.json
!photos/package-lock.json
!photos/src/
node_modules/