.vscode/
data/
*.db

frontend/blog/*
!frontend/blog/.eleventy.js
!frontend/blog/package.json
!frontend/blog/package-lock.json
!frontend/blog/src/
frontend/photos/*
!frontend/photos/.eleventy.js
!frontend/photos/package.json
!frontend/photos/package-lock.json
!frontend/photos/src/
node_modules/
backend/backend