<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="description"
  content="{{ description or 'Photo gallery by Megge' }}"
/>

<meta property="og:title" content="Photos - Megge" />
<meta property="og:description" content="Photo gallery by Megge" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://megge.me/photos" />
<meta
  property="og:image"
  content="https://megge.me/assets/home/favicon/favicon_512px.png"
/>
<meta property="og:site_name" content="Megge's Personal Site" />

<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/assets/favicon/favicon_16px.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/assets/favicon/favicon_32px.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="48x48"
  href="{{ '/assets/favicon/favicon_48px.png' | url }}"
/>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/favicon/favicon_180px.png' | url }}"
/>

<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="{{ '/assets/favicon/favicon_512px.png' | url }}"
/>
