<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ description or 'Blog - Megge' }}" />
<link rel="stylesheet" href="{{ '/css/global.css' | url }}" />

<meta property="og:title" content="Blog - Megge" />
<meta property="og:description" content="Blog - Megge" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://megge.me/blog" />
<meta
  property="og:image"
  content="https://megge.me/assets/home/favicon/favicon_512px.png"
/>
<meta property="og:site_name" content="Blog - Megge" />

<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/assets/favicon/favicon_16px.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/assets/favicon/favicon_32px.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="48x48"
  href="{{ '/assets/favicon/favicon_48px.png' | url }}"
/>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/favicon/favicon_180px.png' | url }}"
/>

<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="{{ '/assets/favicon/favicon_512px.png' | url }}"
/>

<link rel="webmention" href="https://webmention.io/megge.me/webmention" />
<link rel="pingback" href="https://webmention.io/megge.me/xmlrpc" />
<link
  rel="alternate"
  type="application/atom+xml"
  title="Megge's Blog Feed"
  href="{{ '/feed.xml' | url }}"
/>
<link rel="canonical" href="https://megge.me{{ page.url | url }}" />
